<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/esqueceu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação</title>
    <link rel="shortcut icon" type="image/jpg" href="/assets/astronauta2.png"/>
</head>
<body>
<center>
<div class="recuperacao">
    <h2>Esqueceu a Senha?</h2>
    <h2>Enviaremos um e-mail com instruções de como redefinir sua senha</h2>
    
    <input type="text" placeholder="E-mail" class="email">
    
    <br>
    <br>
    <br>
    <br>
    <button type="button" onclick="window.location.href='/Usuario/login'" class="enviar">Enviar</button>
</div>
</center>

</body>
</html>